<!DOCTYPE html>
<html>

<head>


    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="applicable-device" content="mobile">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="baidu-site-verification" content="msEkIfsV0C">
    <title>漫画</title>
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- 分享信息 -->

    <link href="/dist/core_online.css" type="text/css" rel="stylesheet">
    <link href="/dist/reader.css" type="text/css" rel="stylesheet">
</head>
<body class="auto-1527839893198-parent has-download-layer" id="auto-id-1527839893244">
    <input class="j-flag" type="hidden" bookid="5165264281670517259" sectionid="5166900262360159979" page="7" issubscribe="false"
        islogin="false" statpageduration="1000" readonly="false">
    <div id="j-reader-wrap" class="g-reader-wrap">
        <article id="j-reader-inner" class="comic-reader-block">
            <ul class="j-block-flag comic-pic-list list-scroll" scrollpagination="enabled">
                <li class="j-comic-item j-comic-item-lazy page-item" bookid="5165264281670517259" sectionid="5166900262360159979" sectiontitle="1中&nbsp;入侵者"
                    sectionorder="1中" index="14" sectiontotal="17" data-width="600" data-height="849" style="height: 590px">
                    <div class="j-holder loading-block">
                        <div class="table-cell">
                            <span class="item-index">14</span>
                            <br>
                            <span class="loading">loading......</span>
                        </div>
                    </div>
                    <img class="j-img comic-img" data-src="https://nos.netease.com/comic/0c6b5bedd8bc45c8a1095ad901f626a2?NOSAccessKeyId=c92f74b0d48f4fb39271a1109da74cc2&amp;Expires=1527847666&amp;Signature=Trxc5qZ9ZDlDaO32oLYl9lESEvYzZOO0iwNmxNSjRp4%3D"
                        alt="漫画图片" style="display: none"> </li>
            </ul>
            <div class="j-block-flag"></div>
            <div class="j-block-flag"></div>
        </article>
    </div>

    <script src="/dist/zepto.js"></script>
    <script src="/dist/reader.js"></script>
    <script>
        function query(selector) {
            return Array.from(document.querySelectorAll(selector));
        }

        var observer = new IntersectionObserver(
            function (entries) {
                entries.forEach(function (entry) {
                    if (entry.intersectionRatio > 0) {
                        observer.unobserve(entry.target);
                        var $dom = $(entry.target)
                        var $img = $dom.find('.j-img')
                        $dom.find('.loading-block').hide()
                        $img.attr('src', $img.attr('data-src')).show()
                    }
                });
            }
        );

        query('.j-comic-item-lazy').forEach(function (item) {
            observer.observe(item);
        });
    </script>
</body>

</html>