<html>

<head>

    <script type="text/javascript" async="" src="/ga.js"></script>
    <script type="text/javascript" async="" src="/napm-web-min-1.1.4.js"></script>
    <script>
        if (typeof performance != 'undefined' && typeof performance.timing != 'undefined') {
            window.detectPerformance = function () {
                var performanceTiming = performance.timing;

                if (performanceTiming.responseEnd == 0) {
                    setTimeout(window.detectPerformance, 20);
                    return;
                }

                // Network latency
                var latency = performanceTiming.responseEnd - performanceTiming.fetchStart;

                if (latency >= 550) {
                    window.SLOW_NETWORK = true;
                }
            }

            window.detectPerformance();
        }

        window.NRUM = window.NRUM || {};
        window.NRUM.config = { key: 'c59f527688a94a229cbc8eecd5b8a3bd', clientStart: +new Date() };
        (function () { var n = document.getElementsByTagName('script')[0], s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '/napm-web-min-1.1.4.js'; n.parentNode.insertBefore(s, n); })();

        window.PG_CONFIG = window.PG_CONFIG || {};
        window.PG_CONFIG.clientVersion = '0.0.0';
        window.PG_CONFIG.clientType = 'UNKNOWN';

    </script>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-62884321-1'], ['_setLocalGifPath', '/UA-62884321-1/__utm.gif'], ['_setLocalServerMode']);
        _gaq.push(['_addOrganic', 'baidu', 'word']);
        _gaq.push(['_addOrganic', 'soso', 'w']);
        _gaq.push(['_addOrganic', 'youdao', 'q']);
        _gaq.push(['_addOrganic', 'sogou', 'query']);
        _gaq.push(['_addOrganic', 'so.360.cn', 'q']);
        _gaq.push(['_addOrganic', 'sm.cn', 'q']);
        _gaq.push(['_trackPageview']);
        _gaq.push(['_trackPageLoadTime']);
        (function () { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = '/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
    </script>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="applicable-device" content="mobile">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="dns-prefetch" href="//easyread.nosdn.127.net">
    <link rel="dns-prefetch" href="//yuedust.yuedu.126.net">
    <meta name="keywords" content="战神联盟，故事漫画，战斗 玄幻 热血，淘米动画，淘米动画，在线漫画，网易漫画">
    <meta name="description" content="战神联盟，故事漫画，简介：更多信息搜索新浪微博，关注公众号：战联的太一咖啡馆有声剧已在“懒人听书”app平台上线；原创小说在微信公众号“淘米战神联盟”、天天快报app、腾讯新闻app连载欢迎加入QQ群：667696956，与主创人员参入互动讨论！宇宙的黑暗领域，一股神秘而强大的邪恶力量正蠢蠢欲动，他们意图撕开通往现实世界的大门，让自己的王者毁灭大帝泽拉坦降临大地。      毁灭大帝的人间代理人为了让大帝再次降临而释放了曾在第一次圣战中被战神阿瑞斯封印的96只噬魔，光明与黑暗的战争再次开始。年轻的雷伊在情感、责任、宿命等一次次抉择和考验中成长，不断激活自己的潜能，完成了从一个心怀仇恨的独行侠蜕变为一名充满责任与智慧的领导者。卡修斯、布莱克和盖亚等身怀绝技的战士与雷伊一起，在圣的带领下与黑暗势力进行了正义与邪恶的史诗战争！，战斗 玄幻 热血">
    <meta name="format-detection" content="telephone=no">
    <meta name="baidu-site-verification" content="msEkIfsV0C">
    <title>战神联盟-网易在线漫画，淘米动画，故事漫画，在线漫画，网易漫画</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- 分享信息 -->
    <meta itemprop="name" content="网易漫画">
    <style type="text/css">
        html {
            font-family: sans-serif;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }

        body {
            margin: 0;
        }

        article,
        aside,
        details,
        figcaption,
        figure,
        footer,
        header,
        hgroup,
        main,
        menu,
        nav,
        section,
        summary {
            display: block;
        }

        audio,
        canvas,
        progress,
        video {
            display: inline-block;
            vertical-align: baseline;
        }

        audio:not([controls]) {
            display: none;
            height: 0;
        }

        [hidden],
        template {
            display: none;
        }

        a {
            background-color: transparent;
            text-decoration: none;
        }

        a:active,
        a:hover {
            outline: 0;
        }

        abbr[title] {
            border-bottom: 1px dotted;
        }

        b,
        strong {
            font-weight: bold;
        }

        dfn {
            font-style: italic;
        }

        h1 {
            font-size: 2em;
            margin: 0.67em 0;
        }

        mark {
            background: #ff0;
            color: #000;
        }

        small {
            font-size: 80%;
        }

        sub,
        sup {
            font-size: 75%;
            line-height: 0;
            position: relative;
            vertical-align: baseline;
        }

        sup {
            top: -0.5em;
        }

        sub {
            bottom: -0.25em;
        }

        img {
            border: 0;
        }

        svg:not(:root) {
            overflow: hidden;
        }

        figure {
            margin: 1em 40px;
        }

        hr {
            -moz-box-sizing: content-box;
            box-sizing: content-box;
            height: 0;
        }

        pre {
            overflow: auto;
        }

        code,
        kbd,
        pre,
        samp {
            font-family: monospace, monospace;
            font-size: 1em;
        }

        button,
        input,
        optgroup,
        select,
        textarea {
            color: inherit;
            font: inherit;
            margin: 0;
        }

        button {
            overflow: visible;
        }

        button,
        select {
            text-transform: none;
        }

        button,
        html input[type="button"],
        input[type="reset"],
        input[type="submit"] {
            -webkit-appearance: button;
            cursor: pointer;
        }

        button[disabled],
        html input[disabled] {
            cursor: default;
        }

        button::-moz-focus-inner,
        input::-moz-focus-inner {
            border: 0;
            padding: 0;
        }

        input {
            line-height: normal;
        }

        input[type="checkbox"],
        input[type="radio"] {
            box-sizing: border-box;
            padding: 0;
        }

        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            height: auto;
        }

        input[type="search"] {
            -webkit-appearance: textfield;
            -moz-box-sizing: content-box;
            -webkit-box-sizing: content-box;
            box-sizing: content-box;
        }

        input[type="search"]::-webkit-search-cancel-button,
        input[type="search"]::-webkit-search-decoration {
            -webkit-appearance: none;
        }

        fieldset {
            border: 1px solid #c0c0c0;
            margin: 0 2px;
            padding: 0.35em 0.625em 0.75em;
        }

        legend {
            border: 0;
            padding: 0;
        }

        textarea {
            overflow: auto;
        }

        optgroup {
            font-weight: bold;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
        }

        td,
        th {
            padding: 0;
        }

        ul,
        li {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .slate {
            text-align: center;
            padding: 20px 0;
        }

        .slate .spinner {
            vertical-align: middle;
        }

        .slate .plain-text {
            font-size: 12px;
            color: #999;
        }

        .slate--has-icon .spinner,
        .slate--has-icon .icon {
            margin-right: 4px;
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus {
            box-shadow: 0 0 0 60px #fff inset;
            -webkit-text-fill-color: #333;
        }

        *,
        *:before,
        *:after {
            text-decoration: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }

        body {
            font-size: 14px;
            color: #333;
            background-color: #fff;
            font-family: "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
        }

        body.has-download-layer {
            padding-bottom: 64px;
        }

        a {
            color: #333;
        }

        .navbar {
            position: relative;
        }

        .navbar-heading {
            text-align: center;
            font-weight: normal;
            font-size: 20px;
            line-height: 50px;
            margin: 0;
        }

        .container {
            width: 64%;
            margin-left: auto;
            margin-right: auto;
        }

        .container--wide {
            width: 92%;
        }

        .container--large {
            width: 91.46666667%;
        }

        @media (min-width: 1064px) {
            body {
                width: 700px;
                margin: 0 auto;
            }
        }

        .u-btn-danger {
            color: #ffffff;
            background-color: #cf253c;
        }

        .u-media,
        .u-media .media-body {
            overflow: hidden;
        }

        .u-media>.f-fl {
            margin-right: 14px;
        }

        .media-heading {
            margin-top: 0;
            font-weight: normal;
            font-size: 18px;
            margin-bottom: .3em;
        }

        .u-fs {
            font-size: 0;
        }

        .u-clr {
            clear: both;
        }

        .u-rltv {
            position: relative;
        }

        .u-fixed {
            position: fixed;
        }

        .u-hidden {
            visibility: hidden;
        }

        .u-visible {
            overflow: visible;
        }

        .u-none {
            display: none;
        }

        .u-wdh {
            width: 100%;
        }

        .u-hgt {
            height: 100%;
        }

        .u-brd {
            border: 0;
        }

        .u-ot {
            outline: 0;
        }

        .u-appearance {
            -webkit-appearance: none;
            outline: none;
        }

        @media only screen and (-webkit-min-device-pixel-ratio: 3),
        only screen and (min-device-pixel-ratio: 3) {
            .u-repbottom {
                padding-bottom: 2px;
            }
        }

        .u-ellipsis {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .columns {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }

        .columns--split .column {
            width: 50%;
            box-sizing: border-box;
        }

        .row--split {
            display: -ms-flexbox;
            display: flex;
            display: -webkit-flex;
            display: -webkit-box;
        }

        .row--split .row-item {
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            -webkit-flex: 1 1 auto;
            -webkit-box-flex: 1;
        }

        .loading,
        .nodata {
            margin: 20% 0;
            text-align: center;
        }

        .nodata .plain-text {
            font-size: 12px;
            margin-top: 10px;
            color: #999;
        }

        .body--initial .loading,
        .nodata--vertical-center {
            margin-bottom: 0;
            margin-top: 0;
            position: absolute;
            top: 50%;
            width: 100%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        .loading--mini {
            margin: 0;
            clear: both;
        }

        .loading img {
            vertical-align: middle;
        }

        .loading .text {
            color: #999;
        }

        .waterfall {
            padding-bottom: 40px;
        }

        .waterfall-slate {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            margin-bottom: 10px;
        }

        .img-block {
            display: block;
        }

        .img-block img {
            display: block;
            width: 100%;
            border-radius: 2px;
        }

        .body--background-dark {
            background-color: #f2f2f2;
        }

        .img-placeholder {
            background: #f1f1f1 url(//yuedust.yuedu.126.net/comic_static/h5/images/placeholder@2x.png?11171e19fb00b8c7ce8abe86879ca207) 50% 50% no-repeat;
            background-size: 30% auto;
        }

        @media only screen and (-webkit-min-device-pixel-ratio: 3),
        only screen and (min-device-pixel-ratio: 3) {
            .img-placeholder {
                background: #f1f1f1 url(//yuedust.yuedu.126.net/comic_static/h5/images/placeholder@3x.png?2cb399ffd78d4704e076ae9a2b70db5a) 50% 50% no-repeat;
                background-size: 30% auto;
            }
        }

        html.fixed,
        html.fixed body {
            overflow: hidden;
            width: 100%;
            height: 100%;
            position: relative;
        }

        button[disabled],
        html input[disabled] {
            opacity: .5;
        }

        .sprite {
            display: inline-block;
            background-repeat: no-repeat;
            vertical-align: middle;
        }

        .m-foot {
            text-align: center;
            font-size: 12px;
            margin: 35px 0 14px;
        }

        .m-foot .foot1 {
            margin-bottom: 7px;
        }

        .m-foot a,
        .m-foot {
            color: #999;
        }
    </style>

    <link href="/dist/core_online.css" type="text/css" rel="stylesheet">
    <style type="text/css">
        .reader-toolbar {}

        .reader-toolbar-progress {
            margin: 0 110px 0 50px;
        }

        .reader-toolbar.noFavorBtn .btn-favor {
            display: none;
        }

        .reader-toolbar.noDownload .btn-download {
            display: none;
        }

        .reader-toolbar.noBackBtn .btn-back {
            display: none;
        }

        .reader-toolbar .fav-btn {
            margin-right: 10px;
        }

        .reader-toolbar.noDownload .fav-btn {
            margin-right: 0px;
        }

        .reader-toolbar.noBackBtn .reader-toolbar-progress {
            margin-left: 0;
        }

        .reader-toolbar-progress-content {
            background-color: #ff5f65;
            border-radius: 20px;
            display: inline-block;
            padding: .2em 1em;
            color: #fff;
            line-height: 2.5;
            max-width: 100%;
            box-sizing: border-box;
        }

        .reader-toolbar .btn {
            height: 40px;
            width: 40px;
            padding: 0;
            box-sizing: border-box;
            color: #fff;
            text-align: center;
        }

        .reader-toolbar a.btn {
            line-height: 40px;
            text-align: center;
        }

        .reader-toolbar .nav-back .icon {
            position: relative;
            left: -1px;
            top: -1px;
        }

        .slider-track {
            position: fixed;
            height: 260px;
            bottom: 80px;
            right: 10px;
            width: 3px;
            background: #cbcbcb;
            border: 20px solid rgba(0, 0, 0, .9);
            border-radius: 50px;
        }

        .slider-slide {
            position: absolute;
            top: 0;
            left: -5px;
            height: 13px;
            line-height: 13px;
            width: 13px;
            background: #fff;
            border-radius: 50%;
        }

        .slider-progress {
            position: absolute;
            top: -54px;
            right: -20px;
            text-align: center;
            background-color: #fff;
            border-radius: 20px;
            color: #ff5f65;
            line-height: 1.7;
            padding: 0 .5em;
            font-size: 12px;
            min-width: 43px;
            box-sizing: border-box;
        }

        .slider-occupied {
            position: absolute;
            top: 0;
            width: 100%;
            left: 0;
            background-color: #ff5f65;
            height: 0;
            border-radius: 50px;
        }

        body.has-download-layer {
            padding-bottom: 0;
        }

        html,
        body {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            -webkit-overflow-scrolling: touch;
        }

        .g-reader-wrap {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            overflow: scroll;
            overflow-x: hidden;
            -webkit-overflow-scrolling: touch;
        }

        .comic-reader-block {
            overflow: hidden;
            margin: 0;
        }

        .comic-pic-list.list-flip {
            white-space: nowrap;
        }

        .comic-pic-list.list-flip .page-item {
            float: left;
        }

        .comic-pic-list .section-null {
            height: 1px;
        }

        .comic-pic-list.list-flip .page-item img {
            vertical-align: middle;
        }

        .comic-pic-list {
            box-sizing: border-box;
        }

        .page-item {
            position: relative;
            box-sizing: border-box;
            padding-bottom: 5px;
            background-color: #333333;
        }

        .page-item .img-box {
            width: 100%;
        }

        .page-item .loading-block {
            display: table;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background: #333333;
        }

        .page-item .loading-block .table-cell {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }

        .page-item .item-index,
        .page-item .loading {
            color: #222222;
            font-style: italic;
        }

        .page-item .item-index {
            font-size: 50px;
        }

        .page-item .loading {
            font-size: 12px;
        }

        .page-item .comic-img {
            max-width: 100%;
            margin: auto;
            pointer-events: none;
        }

        .m-loading-more {
            text-align: center;
            height: 40px;
            background: #000000;
            line-height: 40px;
            color: #666666;
        }

        .m-loading-more img {
            display: inline-block;
            vertical-align: middle;
            width: 20px;
        }

        .m-loading-more span {
            vertical-align: middle;
            display: inline-block;
            height: 100%;
            line-height: 40px;
            color: #666666;
            font-size: 12px;
        }

        .prompt-section {
            text-align: center;
            box-sizing: border-box;
            padding-top: 30px;
            padding-bottom: 37px;
        }

        .common-bgd {
            background-color: #fff;
            background-size: 100%;
            background-repeat: no-repeat;
            background-image: url(//yuedust.yuedu.126.net/comic_static/h5/images/reader/bg_750_pop-upsshading.png?f610bd7d1e9631c87c1b592437b25fc7);
            background-image: -webkit-image-set(url(//yuedust.yuedu.126.net/comic_static/h5/images/reader/bg_750_pop-upsshading.png?f610bd7d1e9631c87c1b592437b25fc7) 2x, url(//yuedust.yuedu.126.net/comic_static/h5/images/reader/bg_750_pop-upsshading@3x.png?a7300f93bf3a2b9c23ea39231574b4b8) 3x);
            background-image: -moz-image-set(url(//yuedust.yuedu.126.net/comic_static/h5/images/reader/bg_750_pop-upsshading.png?f610bd7d1e9631c87c1b592437b25fc7) 2x, url(//yuedust.yuedu.126.net/comic_static/h5/images/reader/bg_750_pop-upsshading@3x.png?a7300f93bf3a2b9c23ea39231574b4b8) 3x);
            background-image: -ms-image-set(url(//yuedust.yuedu.126.net/comic_static/h5/images/reader/bg_750_pop-upsshading.png?f610bd7d1e9631c87c1b592437b25fc7) 2x, url(//yuedust.yuedu.126.net/comic_static/h5/images/reader/bg_750_pop-upsshading@3x.png?a7300f93bf3a2b9c23ea39231574b4b8) 3x);
            background-image: -o-image-set(url(//yuedust.yuedu.126.net/comic_static/h5/images/reader/bg_750_pop-upsshading.png?f610bd7d1e9631c87c1b592437b25fc7) 2x, url(//yuedust.yuedu.126.net/comic_static/h5/images/reader/bg_750_pop-upsshading@3x.png?a7300f93bf3a2b9c23ea39231574b4b8) 3x);
        }

        .prompt-section .section-info .section-title {
            color: #999;
            font-size: 18px;
            margin-top: 0;
            padding: 0 30px;
        }

        .prompt-section .section-info span {
            font-size: 12px;
            color: #ff5f65;
        }

        .prompt-section .title {
            text-align: center;
        }

        .prompt-section .title span {
            font-size: 16px;
            color: #8B572A;
            font-weight: bold;
        }

        .download-tip-block {
            padding-top: 35px;
            padding-bottom: 75px;
        }

        .download-tip-block .odd-img {
            width: 66%;
            max-width: 247px;
        }

        .download-tip-block .even-img {
            width: 34%;
            max-width: 128px;
        }

        .download-tip-block p {
            margin-top: 12px;
            font-size: 16px;
            color: #333333;
            line-height: 1.5;
        }

        .download-tip-block p span {
            color: #ff5f65;
        }

        .btn-vip-page {
            color: #ffffff;
            background: #ff5f65;
            display: inline-block;
            font-size: 13px;
            padding: 10px 25px;
            box-sizing: border-box;
            border-radius: 25px;
        }

        .login-tip-block {
            position: relative;
            padding-top: 70px;
            padding-bottom: 175px;
        }

        .login-tip-block img {
            width: 78px;
        }

        .login-tip-block .login-tip p {
            font-size: 16px;
        }

        .tucaos-flow {
            position: relative;
            text-align: left;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        @-webkit-keyframes barrage {
            0% {
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
            100% {
                -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);
            }
        }

        @keyframes barrage {
            0% {
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
            100% {
                -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);
            }
        }

        @-webkit-keyframes barrage1 {
            0% {
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
            20% {
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
            100% {
                -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);
            }
        }

        @keyframes barrage1 {
            0% {
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
            20% {
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
            100% {
                -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);
            }
        }

        .tucao-barraging .barrage {
            -webkit-animation: barrage 5s linear infinite;
            animation: barrage 5s linear infinite;
        }

        .tucao-barraging .barrage2 {
            -webkit-animation: barrage 5s linear 2s infinite;
            animation: barrage 5s linear 2s infinite;
        }

        .tucao-barraging .barrage3 {
            -webkit-animation: barrage 7s linear infinite;
            animation: barrage 7s linear infinite;
        }

        .tucao-barraging .barrage4 {
            -webkit-animation: barrage1 8s linear infinite;
            animation: barrage1 8s linear infinite;
        }

        .tucao-wrap {
            padding: 40px 0;
        }

        .tucao-item-wrap {
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            position: absolute;
            width: 100%;
            left: 100%;
            top: 100px;
        }

        .barrage-wrap {
            position: absolute;
            white-space: nowrap;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        .tucao-item {
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            background: rgba(255, 95, 100, .10);
            border: 1px solid rgba(255, 95, 100, .40);
            border-radius: 50px;
            box-sizing: border-box;
            padding: 4px 10px 4px 4px;
            white-space: nowrap;
        }

        .tucao-item .user-avatar {
            vertical-align: middle;
            width: 24px;
            height: 24px;
            border-radius: 50%;
        }

        .tucao-item .tucao-content {
            vertical-align: middle;
            font-size: 12px;
            color: #f6f6f6;
        }

        .no-tucao-wrap {
            padding: 40px 0 70px 0;
        }

        .no-tucao-wrap .no-tucao {
            padding-bottom: 30px;
        }

        .tucao-flow {
            margin-left: -10px;
            margin-right: -10px;
            white-space: nowrap;
        }

        .m-reader-catalog {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            position: absolute;
            z-index: 4;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            height: 100%;
        }

        .m-reader-catalog .reader-catalog-mask {
            position: fixed;
            z-index: 1;
            background-color: rgba(0, 0, 0, .9);
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 200%;
            width: 100%;
        }

        .m-reader-catalog .catalog-section-title {
            clear: both;
            margin-left: 4px;
        }

        .m-reader-catalog .catalog-list-block {
            max-height: 80%;
            padding: 0 16px;
            overflow: scroll;
            position: absolute;
            bottom: 20%;
            left: 0;
            right: 0;
            z-index: 2;
        }

        .m-reader-catalog .catalog-list {
            padding-top: 10px;
            margin-left: -4px;
            margin-right: -4px;
        }

        .m-reader-catalog .catalog-section-title {
            font-size: 12px;
            color: #a6acae;
            line-height: 50px;
            margin-top: 0;
            margin-bottom: -10px;
        }

        .m-reader-catalog-item {
            width: 25%;
            padding: 4px;
            box-sizing: border-box;
        }

        @media screen and (min-width: 500px) {
            .m-reader-catalog-item {
                width: 20%;
            }
        }

        .m-reader-catalog-item .catalog-item-content {
            border: 1px solid #6c6b6c;
            height: 40px;
            line-height: 40px;
            border-radius: 4px;
            text-align: center;
            font-size: 14px;
            color: #aea6a6;
        }

        .m-reader-catalog-item .catalog-item-content i {
            position: absolute;
            right: 0;
            bottom: 0;
        }

        .m-reader-catalog-item.active .catalog-item-content {
            background: #ff5f65;
            border-radius: 4px;
            color: #ffffff;
            border: 1px solid #ff5f65;
        }

        .catalog-action {
            height: 20%;
            box-sizing: border-box;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 2;
        }

        .catalog-action .vertical-assist {
            height: 100%;
            vertical-align: middle;
            width: 0;
        }

        .m-reader-catalog .reader-catalog-btn {
            vertical-align: middle;
            background: #777474;
            border-radius: 50px;
            font-size: 14px;
            color: #ffffff;
            line-height: 17px;
            padding: 5px 17px;
        }

        .m-reader-catalog .reader-catalog-btn span,
        .m-reader-catalog .reader-catalog-btn i {
            vertical-align: middle;
        }

        .catalog-move-top {
            -webkit-animation: catalog-move-top cubic-bezier(.22, .58, .12, .98) 0.5s;
            animation: catalog-move-top cubic-bezier(.22, .58, .12, .98) 0.5s;
        }

        @-webkit-keyframes catalog-move-top {
            0% {
                -webkit-transform: translate(0, 100%);
                transform: translate(0, 100%);
            }
            100% {
                -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
            }
        }

        @keyframes catalog-move-top {
            0% {
                -webkit-transform: translate(0, 100%);
                transform: translate(0, 100%);
            }
            100% {
                -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
            }
        }

        .reader-toolbar {
            position: fixed;
            bottom: 15px;
            left: 10px;
            right: 10px;
        }

        .download-plugin {
            padding-top: 10px;
        }

        .download-plugin .color-light {
            color: #ff5f65;
        }

        .download-plugin .color-light {
            color: #ff5f65;
        }

        .download-plugin .download-tip {
            margin: 12px auto;
            font-size: 13px;
            line-height: 18.5px;
            color: #666;
        }

        .dl-btn-area .pop-star {
            position: absolute;
        }

        @-webkit-keyframes sm-to-lg {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0.5;
            }
        }

        @keyframes sm-to-lg {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0.5;
            }
        }

        @-webkit-keyframes lg-to-sm {
            0% {
                opacity: 0.5;
            }
            100% {
                opacity: 1;
            }
        }

        @keyframes lg-to-sm {
            0% {
                opacity: 0.5;
            }
            100% {
                opacity: 1;
            }
        }

        .dl-btn-area .pop-star1 {
            -webkit-animation: sm-to-lg 0.8s linear infinite alternate;
            animation: sm-to-lg 0.8s linear infinite alternate;
            bottom: -9px;
            left: -18px;
        }

        .dl-btn-area .pop-star2 {
            -webkit-animation: sm-to-lg 1s ease-out infinite alternate;
            animation: sm-to-lg 1s ease-out infinite alternate;
            top: -10px;
            right: -22px;
        }

        .dl-btn-area .pop-star3 {
            -webkit-animation: lg-to-sm 0.5s linear infinite alternate;
            animation: lg-to-sm 0.5s linear infinite alternate;
            top: -14px;
            right: -27px;
        }

        .no-tucao-dl-btn .pop-star1 {
            bottom: 10px;
            left: -22px;
        }

        .no-tucao-dl-btn .pop-star2 {
            top: -10px;
            right: -22px;
        }

        .no-tucao-dl-btn .pop-star3 {
            top: 5px;
            right: -25px;
        }

        @-webkit-keyframes dl-btn-rotate {
            0% {
                -webkit-transform: rotate(1deg);
                transform: rotate(1deg);
            }
            50% {
                -webkit-transform: rotate(-1deg);
                transform: rotate(-1deg);
            }
            100% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
        }

        @keyframes dl-btn-rotate {
            0% {
                -webkit-transform: rotate(1deg);
                transform: rotate(1deg);
            }
            50% {
                -webkit-transform: rotate(-1deg);
                transform: rotate(-1deg);
            }
            100% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
        }

        .reader-download--danger {
            -webkit-animation: dl-btn-rotate 0.5s linear infinite alternate;
            animation: dl-btn-rotate 0.5s linear infinite alternate;
            background-color: #ff5f65;
            border: 1px solid #ff3a41;
            box-shadow: 0 4px 6px 2px rgba(222, 0, 7, .10);
            border-radius: 100px;
            padding: 8px 60px;
            color: #ffffff;
            border-radius: 50px;
        }

        @media only screen and (orientation: landscape) {
            .slider-track {
                height: 3px;
                width: auto;
                left: 68px;
                right: 10px;
                z-index: 1;
                top: 10px;
            }
            .slider-slide {
                left: 0;
                top: -5px;
            }
            .slider-occupied {
                height: 100%;
                width: 0;
            }
            .slider-progress {
                position: fixed;
                left: 10px;
                top: 20px;
                right: auto;
            }
        }

        .m-reader-related {
            margin-left: 16px;
            margin-right: 16px;
            padding-top: 10px;
            overflow: hidden;
        }

        .m-reader-related .title-block {
            font-size: 16px;
            line-height: 1;
        }

        .m-reader-related .title-block span {
            width: 2px;
            box-sizing: border-box;
            height: 16px;
            background-color: #ff5f65;
            border-radius: 1px;
            vertical-align: middle;
            margin-right: 5px;
        }

        .m-reader-related .title-block img {
            vertical-align: middle;
            width: 23px;
            margin-right: 3px;
        }

        .m-reader-related .title-block a {
            color: #999;
        }

        .m-reader-related .slider-block {
            width: 100%;
            position: relative;
            overflow: hidden;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }

        .m-reader-related .slider-block .on-loading {
            padding: 50px 0;
            text-align: center;
        }

        .m-reader-related .related-block {
            float: left;
            width: 100%;
        }

        .related-item-block {
            width: 33.333333333333333333%;
            padding: 10px;
            box-sizing: border-box;
        }

        .m-reader-related-item p {
            margin-bottom: 0;
        }

        .m-reader-related-item .img-block img {
            width: 100%;
            padding-top: 140%;
            height: 0;
            background-size: 100% auto;
        }

        .m-reader-related-item .title {
            color: #333;
            margin-top: 11px;
            font-size: 14px;
            line-height: 16px;
            height: 16px;
            overflow: hidden;
        }

        .m-reader-related-item .desc {
            margin-top: 8px;
            font-size: 12px;
            line-height: 1;
            height: 12px;
            overflow: hidden;
            color: #999;
        }

        .icon-reader-refresh {
            vertical-align: middle;
            margin-right: 5px;
        }

        @-webkit-keyframes rotate {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @keyframes rotate {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        .icon-related-refresh-animation {
            animation: rotate 1s infinite linear;
            -webkit-animation: rotate 1s infinite linear;
        }

        .sprite-reader-lock-vip,
        .sprite-reader-lock-last,
        .sprite-reader-deer-white,
        .sprite-reader-deer-downloadapp,
        .sprite-reader-deer-ending,
        .sprite-reader-star2,
        .sprite-reader-star1,
        .sprite-reader-lock,
        .sprite-reader-star3 {
            background-image: url(//yuedust.yuedu.126.net/comic_static/h5/images/sprites/reader.png?05984dc984e7ada6fd4bed802c079319);
            background-repeat: no-repeat;
        }

        .sprite-reader-lock-vip {
            background-position: 0 0;
            width: 178px;
            height: 128px;
        }

        .sprite-reader-lock-last {
            background-position: -178px 0;
            width: 177px;
            height: 127px;
        }

        .sprite-reader-deer-white {
            background-position: 0 -128px;
            width: 136px;
            height: 167px;
        }

        .sprite-reader-deer-downloadapp {
            background-position: -136px -128px;
            width: 92px;
            height: 102px;
        }

        .sprite-reader-deer-ending {
            background-position: -228px -128px;
            width: 91px;
            height: 98px;
        }

        .sprite-reader-star2 {
            background-position: -318px -128px;
            width: 30px;
            height: 30px;
        }

        .sprite-reader-star1 {
            background-position: -318px -158px;
            width: 20px;
            height: 19px;
        }

        .sprite-reader-lock {
            background-position: -338px -158px;
            width: 16px;
            height: 19px;
        }

        .sprite-reader-star3 {
            background-position: -318px -177px;
            width: 16px;
            height: 16px;
        }

        @media screen and (-webkit-min-device-pixel-ratio: 1.0),
        screen and (min--moz-device-pixel-ratio: 1.0),
        screen and (-o-min-device-pixel-ratio: 100/100),
        screen and (min-device-pixel-ratio: 1.0),
        screen and (min-resolution: 1.0dppx) {
            .sprite-reader-lock-vip,
            .sprite-reader-lock-last,
            .sprite-reader-deer-white,
            .sprite-reader-deer-downloadapp,
            .sprite-reader-deer-ending,
            .sprite-reader-star2,
            .sprite-reader-star1,
            .sprite-reader-lock,
            .sprite-reader-star3 {
                background-image: url(//yuedust.yuedu.126.net/comic_static/h5/images/sprites/reader.png?05984dc984e7ada6fd4bed802c079319);
                -webkit-background-size: 355px 294px;
                -moz-background-size: 355px 294px;
                background-size: 355px 294px;
            }
        }

        @media screen and (-webkit-min-device-pixel-ratio: 2.0),
        screen and (min--moz-device-pixel-ratio: 2.0),
        screen and (-o-min-device-pixel-ratio: 200/100),
        screen and (min-device-pixel-ratio: 2.0),
        screen and (min-resolution: 2.0dppx) {
            .sprite-reader-lock-vip,
            .sprite-reader-lock-last,
            .sprite-reader-deer-white,
            .sprite-reader-deer-downloadapp,
            .sprite-reader-deer-ending,
            .sprite-reader-star2,
            .sprite-reader-star1,
            .sprite-reader-lock,
            .sprite-reader-star3 {
                background-image: url(//yuedust.yuedu.126.net/comic_static/h5/images/sprites/reader@2x.png?46dd76177a9d841fbbb00c67ebf33081);
                -webkit-background-size: 355px 294px;
                -moz-background-size: 355px 294px;
                background-size: 355px 294px;
            }
        }
    </style>

    <style type="text/css">
        @-webkit-keyframes toastFadeOut {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }

        @keyframes toastFadeOut {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }

        .toast-fade-out {
            -webkit-animation: toastFadeOut 1s linear 1.5s;
            animation: toastFadeOut 1s linear 1.5s;
        }

        .m-toast {
            position: fixed;
            z-index: 9999;
            display: table;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%
        }

        .m-toast .tip-block {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }

        .m-toast .toast-tip {
            display: inline-block;
            font-size: 15px;
            color: #ffffff;
            background: rgba(0, 0, 0, 0.8);
            border-radius: 38px;
            box-sizing: border-box;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        @media screen and ( max-width: 319px) {
            .m-toast .toast-tip {
                padding: 23px 10px;
                max-width: 310px;
            }
        }

        @media screen and ( min-width: 320px) and ( max-width: 339px) {
            .m-toast .toast-tip {
                padding: 23px 20px;
                max-width: 320px;
            }
        }

        @media screen and ( min-width: 340px) {
            .m-toast .toast-tip {
                padding: 23px 30px;
                max-width: 340px;
            }
        }

        .m-start-tip {}

        .m-start-tip .mask {
            position: fixed;
            z-index: 1;
            background: #000000;
            cursor: pointer;
            opacity: 0.8;
            filter: alpha(opacity=0.8);
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }

        .m-start-tip .menu-tip {
            position: fixed;
            z-index: 2;
            text-align: center;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            color: #ffffff;
        }

        .m-start-tip .menu-tip span {
            display: inline-block;
            width: 0;
            height: 100%;
            vertical-align: middle
        }

        .m-start-tip .menu-tip img {
            width: 56%;
            vertical-align: middle;
            margin-top: -7%;
        }

        .m-lock-tip {
            position: fixed;
            bottom: -40px;
            left: 0;
            right: 0;
            background: rgba(255, 255, 255, 0.97);
            padding: 10px 0;
            animation: scale-in 0.5s forwards;
        }

        @keyframes scale-in {
            0% {
                transform: translate(0, 100px);
                opacity: 0.5;
            }
            100% {
                opacity: 1;
            }
        }

        .m-lock-tip .tip-inner {
            position: absolute;
            bottom: 40px;
            width: 100%;
            max-width: 375px;
            margin: auto;
            position: relative;
        }

        .m-lock-tip img {
            width: 100%;
            display: block;
        }

        .m-lock-tip .tip-content {
            position: absolute;
            text-align: center;
            right: 2%;
            bottom: 15%;
            width: 220px;
            font-size: 13px;
            line-height: 1.5;
            color: #666666;
        }

        @media screen and (max-width: 350px) {
            .m-lock-tip .tip-content {
                font-size: 11px;
                bottom: 12%;
                right: 1%;
            }
        }

        .m-lock-tip .reader-download {
            background-color: #ff5f67;
            padding: 10px 30px;
            color: #ffffff;
            border-radius: 50px;
            margin-top: 10px;
        }
    </style>
    <style type="text/css">
        .auto-1527837338203 {
            font-size: 12px;
            line-height: 160%;
        }

        .auto-1527837338203 a {
            margin: 0 2px;
            padding: 2px 8px;
            color: #333;
            border: 1px solid #aaa;
            text-decoration: none;
        }

        .auto-1527837338203 .js-disabled {
            cursor: default;
        }

        .auto-1527837338203 .js-selected {
            cursor: default;
            background-color: #bbb;
        }
    </style>
    <script>//console.log('a')
    </script>

    <style type="text/css">
        object,
        embed {
            -webkit-animation-duration: .001s;
            -webkit-animation-name: playerInserted;
            -ms-animation-duration: .001s;
            -ms-animation-name: playerInserted;
            -o-animation-duration: .001s;
            -o-animation-name: playerInserted;
            animation-duration: .001s;
            animation-name: playerInserted;
        }

        @-webkit-keyframes playerInserted {
            from {
                opacity: 0.99;
            }
            to {
                opacity: 1;
            }
        }

        @-ms-keyframes playerInserted {
            from {
                opacity: 0.99;
            }
            to {
                opacity: 1;
            }
        }

        @-o-keyframes playerInserted {
            from {
                opacity: 0.99;
            }
            to {
                opacity: 1;
            }
        }

        @keyframes playerInserted {
            from {
                opacity: 0.99;
            }
            to {
                opacity: 1;
            }
        }
    </style>
</head>

<body class="auto-1527837338185-parent has-download-layer" id="auto-id-1527837338231">
    <!-- <iframe id="j-iframeReserve" style="display: none"></iframe> -->
    <div id="j-reader-wrap" class="g-reader-wrap">
        <article id="j-reader-inner" class="comic-reader-block">
            <ul class="j-block-flag comic-pic-list list-scroll" scrollpagination="enabled">
                <li class="j-comic-item j-comic-item-lazy page-item" bookid="5165264281670517259" sectionid="5166865900660112247" sectiontitle="1上&nbsp;入侵者"
                    sectionorder="1上" index="1" sectiontotal="1" data-width="600" data-height="849" style="height: 535px" id="auto-id-1527837338236">
                    <div class="j-holder loading-block" style="display: none;">
                        <div class="table-cell">
                            <span class="item-index">1</span>
                            <br>
                            <span class="loading">loading......</span>
                        </div>
                    </div>
                    <img class="j-img comic-img" data-src="https://nos.netease.com/comic/29e23f0c253240448e694a1e206ef715?NOSAccessKeyId=c92f74b0d48f4fb39271a1109da74cc2&amp;Expires=1527840960&amp;Signature=KmsPbd%2F6qbhgBVg6ty7bgXB4m4zYT0N4X8DIUTrzTg4%3D"
                        alt="漫画图片" style="display: block;" src="https://nos.netease.com/comic/29e23f0c253240448e694a1e206ef715?NOSAccessKeyId=c92f74b0d48f4fb39271a1109da74cc2&amp;Expires=1527840960&amp;Signature=KmsPbd%2F6qbhgBVg6ty7bgXB4m4zYT0N4X8DIUTrzTg4%3D"> </li>

                <li class="j-comic-item j-comic-item-lazy page-item" bookid="5165264281670517259" sectionid="5166900262360159979" sectiontitle="1中&nbsp;入侵者"
                    sectionorder="1中" index="1" sectiontotal="17" data-width="600" data-height="849" style="height: 535px" id="auto-id-1527837338238">
                    <div class="j-holder loading-block" style="display: none;">
                        <div class="table-cell">
                            <span class="item-index">1</span>
                            <br>
                            <span class="loading">loading......</span>
                        </div>
                    </div>
                    <img class="j-img comic-img" data-src="https://nos.netease.com/comic/2504c07388dc4eee8b7d540e4f60d370?NOSAccessKeyId=c92f74b0d48f4fb39271a1109da74cc2&amp;Expires=1527840961&amp;Signature=djv3CZTiFO0wIjuCbuG6LRlqsYlkg4Pw8vxKs7zVF4o%3D"
                        alt="漫画图片" style="display: block;" src="https://nos.netease.com/comic/2504c07388dc4eee8b7d540e4f60d370?NOSAccessKeyId=c92f74b0d48f4fb39271a1109da74cc2&amp;Expires=1527840961&amp;Signature=djv3CZTiFO0wIjuCbuG6LRlqsYlkg4Pw8vxKs7zVF4o%3D"> </li>
                <li class="j-comic-item j-comic-item-lazy page-item" bookid="5165264281670517259" sectionid="5166900262360159979" sectiontitle="1中&nbsp;入侵者"
                    sectionorder="1中" index="2" sectiontotal="17" data-width="600" data-height="849" style="height: 535px" id="auto-id-1527837338239">
                    <div class="j-holder loading-block" style="display: none;">
                        <div class="table-cell">
                            <span class="item-index">2</span>
                            <br>
                            <span class="loading">loading......</span>
                        </div>
                    </div>
                    <img class="j-img comic-img" data-src="https://nos.netease.com/comic/9f2353bc9fcd40118149a66317ce8c67?NOSAccessKeyId=c92f74b0d48f4fb39271a1109da74cc2&amp;Expires=1527840961&amp;Signature=Iaxik6bPyasZH02ophPhnsMH8r1bR49N8zck%2BoUyeEo%3D"
                        alt="漫画图片" style="display: block;" src="https://nos.netease.com/comic/9f2353bc9fcd40118149a66317ce8c67?NOSAccessKeyId=c92f74b0d48f4fb39271a1109da74cc2&amp;Expires=1527840961&amp;Signature=Iaxik6bPyasZH02ophPhnsMH8r1bR49N8zck%2BoUyeEo%3D"> </li>
                <li class="j-comic-item j-comic-item-lazy page-item" bookid="5165264281670517259" sectionid="5166900262360159979" sectiontitle="1中&nbsp;入侵者"
                    sectionorder="1中" index="3" sectiontotal="17" data-width="600" data-height="849" style="height: 535px" id="auto-id-1527837338246">
                    <div class="j-holder loading-block" style="display: none;">
                        <div class="table-cell">
                            <span class="item-index">3</span>
                            <br>
                            <span class="loading">loading......</span>
                        </div>
                    </div>
                    <img class="j-img comic-img" data-src="https://nos.netease.com/comic/1c727642418b448a8eb6e33c1deccdc5?NOSAccessKeyId=c92f74b0d48f4fb39271a1109da74cc2&amp;Expires=1527840961&amp;Signature=LnjxxNJgTfDr3PuInola46t4AIEo3y1YSS1oNk6wO%2BU%3D"
                        alt="漫画图片" style="display: block;" src="https://nos.netease.com/comic/1c727642418b448a8eb6e33c1deccdc5?NOSAccessKeyId=c92f74b0d48f4fb39271a1109da74cc2&amp;Expires=1527840961&amp;Signature=LnjxxNJgTfDr3PuInola46t4AIEo3y1YSS1oNk6wO%2BU%3D"> </li>
                <li class="j-comic-item j-comic-item-lazy page-item" bookid="5165264281670517259" sectionid="5166900262360159979" sectiontitle="1中&nbsp;入侵者"
                    sectionorder="1中" index="4" sectiontotal="17" data-width="600" data-height="849" style="height: 535px" id="auto-id-1527837338250">
                    <div class="j-holder loading-block" style="display: table;">
                        <div class="table-cell">
                            <span class="item-index">4</span>
                            <br>
                            <span class="loading">loading......</span>
                        </div>
                    </div>
                    <img class="j-img comic-img" data-src="https://nos.netease.com/comic/4ef6ad63b909496ea94281296dedc00a?NOSAccessKeyId=c92f74b0d48f4fb39271a1109da74cc2&amp;Expires=1527840961&amp;Signature=b34LhZ46Id5d31tcjmmySOGJcO26Vdef1428CYj3uTs%3D"
                        alt="漫画图片" style="display: none;"> </li>
                <li class="j-comic-item j-comic-item-lazy page-item" bookid="5165264281670517259" sectionid="5166900262360159979" sectiontitle="1中&nbsp;入侵者"
                    sectionorder="1中" index="5" sectiontotal="17" data-width="600" data-height="849" style="height: 535px" id="auto-id-1527837338251">
                    <div class="j-holder loading-block" style="display: table;">
                        <div class="table-cell">
                            <span class="item-index">5</span>
                            <br>
                            <span class="loading">loading......</span>
                        </div>
                    </div>
                    <img class="j-img comic-img" data-src="https://nos.netease.com/comic/9f904007e9af4c7eb147008e21214c41?NOSAccessKeyId=c92f74b0d48f4fb39271a1109da74cc2&amp;Expires=1527840961&amp;Signature=oRaAMk34g9c0whGJ9mk08G%2BbM8jMm23pbFXM%2BmeZG38%3D"
                        alt="漫画图片" style="display: none;"> </li>
                <li class="j-comic-item j-comic-item-lazy page-item" bookid="5165264281670517259" sectionid="5166900262360159979" sectiontitle="1中&nbsp;入侵者"
                    sectionorder="1中" index="6" sectiontotal="17" data-width="600" data-height="849" style="height: 535px" id="auto-id-1527837338252">
                    <div class="j-holder loading-block" style="display: table;">
                        <div class="table-cell">
                            <span class="item-index">6</span>
                            <br>
                            <span class="loading">loading......</span>
                        </div>
                    </div>
                    <img class="j-img comic-img" data-src="https://nos.netease.com/comic/142d46bdb7984780b7e769c16661b374?NOSAccessKeyId=c92f74b0d48f4fb39271a1109da74cc2&amp;Expires=1527840961&amp;Signature=7GaXF9iyEKzO2wdIWqrlGUuAVzSHgVcz%2BdhscJ8OCos%3D"
                        alt="漫画图片" style="display: none;"> </li>
                <li class="j-comic-item j-comic-item-lazy page-item" bookid="5165264281670517259" sectionid="5166900262360159979" sectiontitle="1中&nbsp;入侵者"
                    sectionorder="1中" index="7" sectiontotal="17" data-width="600" data-height="849" style="height: 535px" id="auto-id-1527837338253">
                    <div class="j-holder loading-block" style="display: table;">
                        <div class="table-cell">
                            <span class="item-index">7</span>
                            <br>
                            <span class="loading">loading......</span>
                        </div>
                    </div>
                    <img class="j-img comic-img" data-src="https://nos.netease.com/comic/7011049e2b4e4243a8c8adc12a4e2d4e?NOSAccessKeyId=c92f74b0d48f4fb39271a1109da74cc2&amp;Expires=1527840961&amp;Signature=%2FLrrofZDz7%2FdcaFuo%2BLSTIgU%2F6Yok2d3B%2F%2BZjPsNsDQ%3D"
                        alt="漫画图片" style="display: none;"> </li>
                <li class="j-comic-item j-comic-item-lazy page-item" bookid="5165264281670517259" sectionid="5166900262360159979" sectiontitle="1中&nbsp;入侵者"
                    sectionorder="1中" index="8" sectiontotal="17" data-width="600" data-height="849" style="height: 535px" id="auto-id-1527837338254">
                    <div class="j-holder loading-block" style="display: table;">
                        <div class="table-cell">
                            <span class="item-index">8</span>
                            <br>
                            <span class="loading">loading......</span>
                        </div>
                    </div>
                    <img class="j-img comic-img" data-src="https://nos.netease.com/comic/beddd618fb8641988e860b5ced5a8501?NOSAccessKeyId=c92f74b0d48f4fb39271a1109da74cc2&amp;Expires=1527840961&amp;Signature=HwH2w%2Fbe2xgggCn5mRygUGK3umHVByhFc%2FdfH1pROgM%3D"
                        alt="漫画图片" style="display: none;"> </li>
                <li class="j-comic-item j-comic-item-lazy page-item" bookid="5165264281670517259" sectionid="5166900262360159979" sectiontitle="1中&nbsp;入侵者"
                    sectionorder="1中" index="9" sectiontotal="17" data-width="600" data-height="849" style="height: 535px">
                    <div class="j-holder loading-block">
                        <div class="table-cell">
                            <span class="item-index">9</span>
                            <br>
                            <span class="loading">loading......</span>
                        </div>
                    </div>
                    <img class="j-img comic-img" data-src="https://nos.netease.com/comic/08b05684adc84ce384b466c9cdc34a8f?NOSAccessKeyId=c92f74b0d48f4fb39271a1109da74cc2&amp;Expires=1527840961&amp;Signature=H23M1wADqTMWFloXSudHOuA7FPOWSs8WBYmU7zUBAfc%3D"
                        alt="漫画图片" style="display: none"> </li>
                <li class="j-comic-item j-comic-item-lazy page-item" bookid="5165264281670517259" sectionid="5166900262360159979" sectiontitle="1中&nbsp;入侵者"
                    sectionorder="1中" index="10" sectiontotal="17" data-width="600" data-height="849" style="height: 535px">
                    <div class="j-holder loading-block">
                        <div class="table-cell">
                            <span class="item-index">10</span>
                            <br>
                            <span class="loading">loading......</span>
                        </div>
                    </div>
                    <img class="j-img comic-img" data-src="https://nos.netease.com/comic/4faef340e425455dad94db3157b50025?NOSAccessKeyId=c92f74b0d48f4fb39271a1109da74cc2&amp;Expires=1527840961&amp;Signature=OrYXkEko%2F3eSYTMivkb28lAkVYrfLBAg5c0ktCUToBs%3D"
                        alt="漫画图片" style="display: none"> </li>
                <li class="j-comic-item j-comic-item-lazy page-item" bookid="5165264281670517259" sectionid="5166900262360159979" sectiontitle="1中&nbsp;入侵者"
                    sectionorder="1中" index="11" sectiontotal="17" data-width="600" data-height="849" style="height: 535px">
                    <div class="j-holder loading-block">
                        <div class="table-cell">
                            <span class="item-index">11</span>
                            <br>
                            <span class="loading">loading......</span>
                        </div>
                    </div>
                    <img class="j-img comic-img" data-src="https://nos.netease.com/comic/e9a8a90585ab4d2c87baed61e4efc404?NOSAccessKeyId=c92f74b0d48f4fb39271a1109da74cc2&amp;Expires=1527840961&amp;Signature=XdbfrCW2IWlJZ2fWsAVFsNGqsfp5TKWl2dUWwdX7i%2BY%3D"
                        alt="漫画图片" style="display: none"> </li>
                <li class="j-comic-item j-comic-item-lazy page-item" bookid="5165264281670517259" sectionid="5166900262360159979" sectiontitle="1中&nbsp;入侵者"
                    sectionorder="1中" index="12" sectiontotal="17" data-width="600" data-height="849" style="height: 535px">
                    <div class="j-holder loading-block">
                        <div class="table-cell">
                            <span class="item-index">12</span>
                            <br>
                            <span class="loading">loading......</span>
                        </div>
                    </div>
                    <img class="j-img comic-img" data-src="https://nos.netease.com/comic/ef0aed2ca2e44091be98ead3e203fba1?NOSAccessKeyId=c92f74b0d48f4fb39271a1109da74cc2&amp;Expires=1527840961&amp;Signature=5y0kZMbj1KRr3y4o0K98vy0fZ%2BST8iYR4A%2FlL2BVGD0%3D"
                        alt="漫画图片" style="display: none"> </li>
                <li class="j-comic-item j-comic-item-lazy page-item" bookid="5165264281670517259" sectionid="5166900262360159979" sectiontitle="1中&nbsp;入侵者"
                    sectionorder="1中" index="13" sectiontotal="17" data-width="600" data-height="849" style="height: 535px">
                    <div class="j-holder loading-block">
                        <div class="table-cell">
                            <span class="item-index">13</span>
                            <br>
                            <span class="loading">loading......</span>
                        </div>
                    </div>
                    <img class="j-img comic-img" data-src="https://nos.netease.com/comic/f56032701ce0444884f6e3c516937d0a?NOSAccessKeyId=c92f74b0d48f4fb39271a1109da74cc2&amp;Expires=1527840961&amp;Signature=f6T3Cyp4U0Vu%2FD7evd%2Fk%2B1tKOAtdEAZMYiEXh6rST%2B8%3D"
                        alt="漫画图片" style="display: none"> </li>
                <li class="j-comic-item j-comic-item-lazy page-item" bookid="5165264281670517259" sectionid="5166900262360159979" sectiontitle="1中&nbsp;入侵者"
                    sectionorder="1中" index="14" sectiontotal="17" data-width="600" data-height="849" style="height: 535px">
                    <div class="j-holder loading-block">
                        <div class="table-cell">
                            <span class="item-index">14</span>
                            <br>
                            <span class="loading">loading......</span>
                        </div>
                    </div>
                    <img class="j-img comic-img" data-src="https://nos.netease.com/comic/0c6b5bedd8bc45c8a1095ad901f626a2?NOSAccessKeyId=c92f74b0d48f4fb39271a1109da74cc2&amp;Expires=1527840961&amp;Signature=M1yLwu9yqdjkn1QcMdFjauoJW6ZKLU96jXOFpveo0MA%3D"
                        alt="漫画图片" style="display: none"> </li>
                <li class="j-comic-item j-comic-item-lazy page-item" bookid="5165264281670517259" sectionid="5166900262360159979" sectiontitle="1中&nbsp;入侵者"
                    sectionorder="1中" index="15" sectiontotal="17" data-width="600" data-height="849" style="height: 535px">
                    <div class="j-holder loading-block">
                        <div class="table-cell">
                            <span class="item-index">15</span>
                            <br>
                            <span class="loading">loading......</span>
                        </div>
                    </div>
                    <img class="j-img comic-img" data-src="https://nos.netease.com/comic/5815ffc0be5f4f63a5750be974d25ec6?NOSAccessKeyId=c92f74b0d48f4fb39271a1109da74cc2&amp;Expires=1527840961&amp;Signature=seEzSNGvyInK7zJze07Ltl9mm9A5yNmD9sdU1sGZJmk%3D"
                        alt="漫画图片" style="display: none"> </li>
                <li class="j-comic-item j-comic-item-lazy page-item" bookid="5165264281670517259" sectionid="5166900262360159979" sectiontitle="1中&nbsp;入侵者"
                    sectionorder="1中" index="16" sectiontotal="17" data-width="1000" data-height="897" style="height: 341px">
                    <div class="j-holder loading-block">
                        <div class="table-cell">
                            <span class="item-index">16</span>
                            <br>
                            <span class="loading">loading......</span>
                        </div>
                    </div>
                    <img class="j-img comic-img" data-src="https://nos.netease.com/comic/8158426c20a443ed941af51d3635c5cb?NOSAccessKeyId=c92f74b0d48f4fb39271a1109da74cc2&amp;Expires=1527840961&amp;Signature=uvqMRY1QkMfpwKbKx5kPUW0EiGINdjoFMJCX%2BJnWjHs%3D"
                        alt="漫画图片" style="display: none"> </li>
                <li class="j-comic-item j-comic-item-lazy page-item" bookid="5165264281670517259" sectionid="5166900262360159979" sectiontitle="1中&nbsp;入侵者"
                    sectionorder="1中" index="17" sectiontotal="17" data-width="600" data-height="798" style="height: 503px">
                    <div class="j-holder loading-block">
                        <div class="table-cell">
                            <span class="item-index">17</span>
                            <br>
                            <span class="loading">loading......</span>
                        </div>
                    </div>
                    <img class="j-img comic-img" data-src="https://nos.netease.com/comic/30b81108ee504b378edcb426ab634364?NOSAccessKeyId=c92f74b0d48f4fb39271a1109da74cc2&amp;Expires=1527840961&amp;Signature=zeiK4JXeXULv3A2uWoykKmuwsG0RwRYDzPjFXtQiaNw%3D"
                        alt="漫画图片" style="display: none"> </li>
            </ul>
            <div class="j-loading-more-bottom m-loading-more">上拉加载下一话</div>
            <div class="j-block-flag"></div>
            <div class="j-block-flag"></div>
        </article>
    </div>

    <div class="slider-track" style="display: none;">
        <div class="slider-occupied js-flag"></div>
        <div class="slider-slide js-flag">&nbsp;</div>
        <div class="slider-progress js-flag">
            <span class="js-flag-progress"></span>/
            <span class="js-flag-progress"></span>
        </div>
    </div>




</body>

</html>